<style>
	* {font-family:sans-serif;}
	hr {border-top: 5px solid black;}
</style>

<body>
    <div id="heading">
        <center><h1><span id="name" style="font-size:200%"></span>{{it.Type}}</h1></center>
    </div>
    <hr>
        <span id="description" style="font-size:150%">{{ it.Description | safe }}</span>
    <br>
    <br>

  <span style="font-size:80%">{{it.Disclaimer}}</span>
	
</body>