<style>
  * {font-family:sans-serif;}
  td {text-align:center;}
  th {background-color:black;color:white}
  td, th {height:20px;min-width:5px;}
  h1, h2, h3, h4, h5, h6 {margin:0 0 0 0;}
  hr {border-top: 5px solid black;}
</style>


<html>
    <center><span>⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋</span></center>
    <br>
    <br>

  <!--Class Name-->
    <div id="heading">
      <center><h1><span id="name" style="font-size:200%">{{it.name}}</span></h1></center>
    </div>
  	<hr>


		<span id="description" style="font-size:150%">{{it.description | safe}}
</span>
    <br>

  <br>
   <center><span>&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&</span></center>
  <br>
  <br>
  <br>

</html>
