<style>
	* {font-family:sans-serif;}
	hr {border-top: 5px solid black;}
</style>

<body>
    <center><span>⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋⅋</span></center>
    <br>
    <br>
    <div id="heading">
        <center><h1><span id="name" style="font-size:200%"></span>{{it.name}}</h1></center>
    </div>
    <hr>
        <span id="description" style="font-size:150%">{{ it.description | safe }}</span>
    <br>
    <br>

	 <center><span style="font-size:150%"><b>Weight: </b></span><span id="weight" style="font-size:150%"></span><span style="font-size:150%">{{it.weight}}</span></center>
    <br>
    <center><span>&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&</span></center>
    <br>
    <br>
    <br>
</body>