<style>
  * {font-family:sans-serif;}
  h1, h2, h3, h4, h5, h6 {margin:0 0 0 0;}
  hr {border-top:5px solid;}
  #card {
    width:455px;
    height:660px;
    border-right:2px solid;
    border-top:2px solid;

  }
  #inner {
  	margin-left:0px;
    margin-right:20px;
  	}
</style>

<body>
  <div id="card">
    <div id="inner">
      <br>
    <div style="margin-left:auto;margin-right:auto;"><center><img src="{{ images['gear.png'] }}" alt="" style="max-width:25%"/></center></div>  

    <br>
    <br>
    <div id="heading">
        <center><h2><span id="name" style="font-size:100%"></span></h2></center>
    </div>
    <hr>
        <span id="description" style="font-size:145%"></span>
    <br>
    <br>

	 <center><span style="font-size:150%"><b>Value: </b></span><span id="cost" style="font-size:150%"></span><span style="font-size:150%"> GP</span></center>
    <br>
    <br>
    <br>
    <br>
    </div>
  </div>
</body>


<script>
var items = [	
        {
			"name": "Thieves' tools",
			"description": "This kit contains all of the tools needed to pick locks.",
			"cost": 25
		},
		{
			"name": "Rope",
			"description": "Can hold the weight of approximately three human-sized beings.",
			"cost": 1
		},
		{
			"name": "Mirror (hand-sized, steel)",
			"description": "Useful for looking around corners or for reflecting a gaze attack.",
			"cost": 5
		},
		{
			"name": "Crowbar",
			"description": "Long and made of solid iron. Can be used for forcing doors and other objects open.",
			"cost": 10
		},
		{
			"name": "Waterskin",
			"description": "This container, made of hide, will hold 2 pints (1 quart) of fluid.",
			"cost": 1
		},
		{
			"name": "Pole (10' long, wooden)",
			"description": "A thick wooden pole useful for poking and prodding suspicious items in a dungeon.",
			"cost": 1
		},
		{
			"name": "Wolfsbane",
			"description": "Per bunch.This herb can be used to repel lycanthropes.The creature must be hit with the herb in melee combat.",
			"cost": 10
		},
		{
			"name": "Stakes and mallet",
			"description": "A wooden mallet and three 18&Prime; long stakes. Valuable when confronting vampires",
			"cost": 3
		},
		{
			"name": "Rations, standard",
			"description": "Fresh, unpreserved food.",
			"cost": 5
		},
		{
			"name": "Backpack",
			"description": "Has two straps and can be worn on the back, keeping the hands free.Holds up to 400 coins.",
			"cost": 5
		},
		{
			"name": "Holy symbol",
			"description": "A divine spell caster is required to own a holy symbol of their deity, often worn as a necklace. Each religion has its own holy symbol.",
			"cost": 25
		},
		{
			"name": "Torch",
			"description": "A torch burns for 1 hour (6 turns), clearly illuminating a 30&prime; radius. Torches may also be used in combat."
		},
		{
			"name": "Garlic",
			"description": "Bulb of Garlic.",
			"cost": 5
		},
		{
			"name": "Tinder box (flint & steel)",
			"description": "Used to light fires, including torches. Using a tinder box takes one round. There is a 2-in-6 chance of success per round",
			"cost": 3
		},
		{
			"name": "Grappling hook",
			"description": "Has 3 or 4 prongs. Can be used for anchoring a rope.",
			"cost": 25
		},
		{
			"name": "Oil flask",
			"description": "A flask of oil fuels a lantern for four hours (24 turns). In addition to fueling lanterns, oil can be used as a weapon:<ul><li><strong>Throwing:</strong> An oil flask may be lit on fire and thrown.</li><li><strong>Pools: </strong>Oil that is poured on the ground and lit covers a diameter of 3 feet and burns for 1 turn, inflicting damage on any character or monster moving through the pool.</li><li><strong>Immunity:</strong> Burning oil does not harm monsters that have a natural flame attack.</li></ul>",
			"cost": 2
		},
		{
			"name": "Sack (small)",
			"description": "Can hold up to 200 coins.",
			"cost": 1
		},
		{
			"name": "Lantern",
			"description": "Can be closed to hide the light. Burns one oil flask every four hours (24 turns). Casts light in a 30&prime; radius.",
			"cost": 10
		},
		{
			"name": "Rations, iron",
			"description": "Dried and preserved food to be carried on long voyages when securing fresh food may be uncertain.",
			"cost": 15
		},
		{
			"name": "Iron spikes",
			"description": "May be used for wedging doors open or shut, as an anchor to attach a rope to, and many other purposes.",
			"cost": 1
		},
		{
			"name": "Hammer (small)",
			"description": "Can be used for construction or as a mallet with iron or wooden spikes.",
			"cost": 2
		},
		{
			"name": "Sack (large)",
			"description": "Can hold up to 600 coins.",
			"cost": 2
		},
		{
			"name": "Wine",
			"description": "A bottle of wine.",
			"cost": 1
		}
	];


var item = items[Math.floor(random() * items.length)];
document.getElementById("name").textContent = item.name;
document.getElementById("description").innerHTML = item.description;
document.getElementById("cost").textContent = item.cost;
</script>
